ambiente/.vagrant
*.box
vault_pass
.vault_pass.py
*.Rproj
.Rproj.user
.RDatatmp
.RData
.Rhistory
.Ruserdata
*rsconnect
*.xlsx
*.xls
*.csv
*.rds
*.zip
*.pptx
!_navbar.html
mojo/
!README.md
._*
.*
!.gitignore
!.gitlab-ci.yml
!.Rprofile
!.gitattributes
